* {
   background-color: lightslategray;

}


body {
    display: flex;
    flex-direction: column;
    align-items: center;


}

#container {
    width: 700px;
    height: 400px;
    position: relative;
    padding-bottom: 25px;
}

#sfondo{
    border: solid 10px rgb(14, 1, 1);
    width: 700px;
    height: 400px;
    position: absolute;
    background-image: url(./sfondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.girl{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 600px;
    background: url(WalkingGirl.png);
}

.girl1{
    position: absolute;
    
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(600px/4);
    height: 600px;
    background: url(WalkingGirl.png);
    animation: animate 1s steps(4);
    transition: all 1s;
}
.girl4{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(600px/4);
    height: 600px;
    background: url(WalkingGirl.png);
    animation: animate 1s steps(4);
    transition: all 1s;
}
@keyframes animate
{
    from 
    {
        background-position: 0;
    }

    to 
    {
        background-position: -600px;
    }
}

@keyframes animate
{
    from 
    {
        background-position: 0;
    }

    to 
    {
        background-position: -600px;
    }
}
.girl2{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: calc(600px/4);
    height: 600px;
    background: url(WalkingGirlSx.png);
    animation: animate 1s steps(4);
    transition: all 1s;

}

@keyframes animate
{
    from 
    {
        background-position: 0;
    }

    to 
    {
        background-position: -600px;
    }
}

.girl3{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: calc(600px/4);
    height: 600px;
    background: url(WalkingGirlDx.png);
    animation: animate 1s steps(4);
    transition: all 1s;
}
@keyframes animate
{
    from 
    {
        background-position: 0;
    }

    to 
    {
        background-position: -600px;
    }
}


/* /// Bottoni */

.Btn {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      ". w ."
      "a s d";
    width: 200px;
    height: 150px;

  
  }
  
  .w { 
      grid-area: w;
      background-color: rgb(9, 146, 146) ;
      text-align: center; 
      padding-top: 40%;
      box-shadow: 8px 10px 10px rgba(75, 74, 82, 0.267);
      border-radius: 20px;
      

    }
  
  .a { 
      grid-area: a; 
      background-color: rgb(20, 172, 96) ; 
      text-align: center; 
      padding-top: 40%;
      box-shadow: 8px 10px 10px rgba(75, 74, 82, 0.267);
      border-radius: 20px;

    }
  
  .s { 
      grid-area: s;       
      background-color: rgb(206, 82, 82) ; 
      text-align: center; 
      padding-top: 40%;
      box-shadow: 8px 10px 10px rgba(75, 74, 82, 0.267);
      border-radius: 20px;

    }
  
  .d { 
      grid-area: d;       
      background-color: rgb(80, 80, 238) ; 
      text-align: center; 
      padding-top: 40%;
      box-shadow: 8px 10px 10px rgba(75, 74, 82, 0.267);
      border-radius: 20px;

    }
  

